
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@500;800&family=Roboto:wght@400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Merriweather:wght@400;700;900&family=Open+Sans:wght@500;800&family=Roboto:wght@400;500;700&display=swap');

body{

   
  
    margin:0px;
    padding:0px;
}
*{
    margin: 0px;
    padding: 0px;

}
header{
    margin:50px 140px;
}
main{
    margin:100px 140px;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url('resources/Banner_Image.png');
    background-size: cover;
    padding:233px 250px 177px 250px; 
    border-radius: 10px;
    
}
.header-content{
    
}
.header-title{
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.header-description{
    color: #FFF;
    font-family: Merriweather;
    margin: auto;
    text-align: center;
    display: inline-block;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
}
.section-header{
    margin-top: 200px;
    font-family: inter;
    font-weight: 700;
    font-size: 88px;
    text-align: center;
    color: red;
}
.section-second{
    font-family: inter;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.section-third{
    font-family: inter;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}
.section-image{
    width: 700px;
    margin:100px auto;
}
.second-section{



    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(resources/Vectorrr.png);
    padding-left: 126px;
    padding-top: 126px;
    border-radius: 10px 0px 0px 10px;
    padding-bottom: 100px;
    display: flex;
}

.welcome-header{
    width:642px;
    font-family: merriweather;
    font-weight: 900;
    font-size: 64px;
    color: #FFF;
}
.welcome-description{
    width: 590px;;
    font-family: inter;
    font-weight: 400;
    font-size: 18px;
    color:#FFF ;
    opacity:.6;
    margin-bottom: 100px;
}
.btn{
    text-decoration: none;
    color: #FFF;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    width: 103px;
    text-align: center;
    margin-left:42px;
    margin-bottom: 100px;
}
.year{
    height: 350px;
}
.third-section{
    background-color: rgba(255, 0, 0, 0.10);
    padding-top:100px;
    padding-left: 385px;
    padding-bottom: 214px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.info-intro{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.info{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.btn-primary{
    display: inline;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    
}
.btn-sec{
  
   padding-left:108px;
}
.gap{
    margin-top:100px;
}
.fourth-section{
    background: #FFF;
    margin-bottom: 118px;
    padding: 0px;
    display: flex;
    gap: 50px;
    
}
.sec-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.sec-h{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.sec-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width:360px;
}
.section-column2{
    border: 10px solid #F00;
    border-radius: 100%;
    height: 220px;
    padding: 29.8px;

}

.img-r{
   
}
.sec-title3{
    color: #F00;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
}
.sec-h3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 100px;
}
.sec-des3{
    width: 180px;
    height: 180px;
}
.sec-head{
 text-align: center;
}
.sec-t{
    color: #070211;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.sec-h{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 14px;
    margin-bottom: 26px;
}
.sec-d{
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.f{
    display: flex;
    margin-top: 100px;
}
.sec-col-l{
    width:70%;
    background-color: rgba(0,0,0,.1);
    position: relative;
}
.gift{
    position: absolute;
    left:50px;
    bottom:-135px;
}
.sec-col-r{
    width: 30%;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)) ,url('resources/Rectangle_1.png');
    background-size: cover;
    height: 350px;
    position: relative;
}
.fourtyfour{
    position: absolute;
    top: 76px;
    left:-75px;
}
.sec-foot{
    background-image:url("resources/Rectangle_2.png") ;
    height: 220px;
}
.fifth-section{
    margin-bottom: 100px;
}
.sixth-section{
    background-color: rgba(0,0,0,.1);
    padding: 0px;
    margin-bottom: 100px;
}
.s-t{
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}
.s-h
{
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.s-d{
    color: rgba(7, 2, 17, 0.60);
    width: 750px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
.box-container
{
    display:flex;
    gap: 10px;
    vertical-align: top;
}
.box{
    width: 350px;
    height: 450px;
    border-radius: 15px;
}
.box:hover{
    border:5px solid rgba(0,0,1,.3);
}
.seventh-section{
    background: #FFF;
    
    margin: 140px;
    text-align: center;
    padding-bottom: 100px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
#email{
    width: 150px;
    height: 150px;
    margin:20px auto;
    
}
.seventh-section .section-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
}
.seventh-section .section-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 38px;
}
.search{
    vertical-align: top;
}
#search-info{
    vertical-align: top;
    width: 548px;
    height: 72px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
}
::placeholder{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
#btn{
    vertical-align: top;
    margin-left: -10px;
    color: #FFF;
    height: 72px;
    padding: 24px 56px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background-color: #F00;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    border: none;
}
footer{
    padding: 140px;
    background-color: #070211;;
}
.footer-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer-col{
    width: 422px;

    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.hr{
    height: 1px;
    background-color: rgba(255, 255, 255,.15);
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: .1;
    
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer-last{
    display: flex;
    justify-content: space-between;
}
.l{
    text-align: end;
}
